fastapi==0.95.2
uvicorn[standard]==0.22.0
transformers>=4.37.0
torch==1.13.1+cu117 -f https://download.pytorch.org/whl/cu117/torch_stable.html
torchaudio==0.13.1+cu117 -f https://download.pytorch.org/whl/cu117/torch_stable.html
soundfile==0.12.1
numpy==1.24.0
scipy==1.10.1
jinja2==3.1.2
pydantic==1.10.7
